{
    "presets": [
      "@babel/env",
      [
        "@babel/typescript",
        {
          "isTSX": true,
          "allExtensions":true
        }
      ],
      "@babel/react"
    ],
    "plugins": ["@babel/plugin-proposal-class-properties"]
  }
  